@charset"utf-8";

body{
	text-align: center;
	color:#666666;
	background-image:url(images/sub_back.png);	
}

#contents{
	margin-right:50px;
	margin-left: 230px;
	}
	
	h1{
		font-size:36px;
		color:#943434;
		font-family:Georgia,"Times New Roman",Times,serif;
		letter-spacing:15px;
	background-image:url(images/tail.gif);
	background-repeat:repeat-x;/*横方向だけに繰り返し*/
	}

    caption{
	font-size:18px;
	color:#FFFFFF;
	background-color:#71b017;
    padding-top: 5px;
	padding-bottom: 5px;
	}
	th{
		vertical-align: top;
	}
	
table{
	font-size:14px;
	background-color:#FFFFFF;
	border:solid 2px #71B017;
	margin-bottom: 20px;
	border-collapse:collapse;
	}
	
	th,td{
		padding:10px;
		text-align:left;
		border:solid 1px #cccc66;
		border-collapse:collapse;
	}