@charset "utf-8" ;

body{
	color:#666666;
text-align:center;
background-color:#FFFFFF;
background-repeat:repeat-y;
margin:0;
padding: 0;
}

#contents{
	margin: auto;
}


h1{
	font-size:50px;
	color:#FFFFFF;
	text-shadow:5px 5px 5px #3c5d0c;
	font-family: Georgia,"Times New Roman",Times,serif;
	background-color:#5c8f13;
	height: 90px;
	margin:0 0 30px 0;
	padding: 0;
}

h2{
	font-size:20px;
	color: #ffffff;
	font-family:"Courier New",Courier,monospace;
	background-color: #ff9900;
	margin:20px 50px 0 50px;
}

p{
	text-align:left;
	border-bottom:dotted #FF9900 4px;
	border-left:dotted #FF9900 4px;
	border-right:dotted #FF9900 4px;
	margin:0 50px 20px 50px;
	padding: 15px;
}

p#copyright{
	border:none;
	padding: 0;
	margin: 0;
}

#footer{
	background-color: #5C8F13;
	color:#FFFFFF;
	padding:5px 0;
}

span#osteria{
	font-weigt:bold;
}
span.italia{
	font-style:italic;
}


adress{
	font-size:smaller;
}

